<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

 <head>
     <link rel="stylesheet" th:href="@{/css/index.css}">
 </head>
 <body>
  <div class="card">
    <h2> Pizza Web Application </h2>
    <h3> Please Enter Your Name and Address to Start Ordering </h3>
    <form action="/index" method="post">
      <div class="box">
      <input type="text" name="Name"/>
      <span> Please Enter Name </span>

    </div>
    <div class="box">
      <input type="text" name="Address" />
      <span> Address </span>

    </div>
       <button> BUTTON </button>
    </form>

  </div>
  <div></div>

 </body>
</html>