<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

 <head>
     <link th:href="@{/css/index.css}" rel="stylesheet">
 </head>
 <body>
  <div class="Left">
    <div class="card">
      <h2> Pizza Web Application </h2>
      <h3> Please Enter Your Name and Address to Start Ordering </h3>
      <p style="color:red; font-weight:bold"> <label th:text="${Invalid}"> </label></p>
      <form action="/index" method="post">
       <input type="text" name="Name" placeholder="Name"> 
       <input type="text" name="Address" placeholder="Address">
        
         <button class="button"> Start Ordering </button>
      </form>
   
    </div>
  </div>
  <div class="Right">

  </div>

 </body>
</html>