<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
 <head>
     <link th:href="@{/css/orders.css}" rel="stylesheet">
 </head>
 <body>
  <div class="Left">
   <h2> The Real Pizza</h2>
   <div class="Card">
    <div class="Img">

    </div>
    <div class="Details">
     <p> Build Your Own Pizza</p>
     <p> Depending</p>
     <form action="/orders" method="post">
      <button class="button"> Build </button>
     </form>
    </div>
   </div>

   <div class="Card">
  <div class="Img">

  </div>
  <div class="Details">
 <p> The Real Pizza</p>
  <p> $15.00</p>
   <form action="/orders" method="post">
    <button class="button"> Add </button>
   </form>
  </div>
 </div>

  <div class="Right">
   <h2> Orders </h2>
  </div>
 </body>
</html>